<header class="component">
  <div class="my-header">
    <div class="component placeholder flex-column">
      <div class="center">
          <h1>PORTFOLIO | {{owner.name}}</h1>
          <p>FRONT-END DEVELOPER</p>
      </div>
      <div ng-view></div>
    </div>

  </div>
</header>

<!-- <div class="component slider">
  <ul class="menu deb">
    <li class="deb"><a href="#!/view1">view1</a></li>
    <li class="deb"><a href="#!/view2">view2</a></li>
  </ul>
      <aside>
        <section class="deb">
          <h3>[index-START z grafikami z Unsplasha, tło niebieskie jak podkreślenia menu]</h3>
          <ul>
            <li ng-repeat="skill in owner.skills" class="deb">
              <em>{{skill}}</em>
            </li>
          </ul>
		    </section>
        <section>
          <img src="images\nolan-issac-small.jpg"
               style="max-width: 460px"/>
        </section>

      </aside>
</div> -->
