<aside class="deb">
          <h4>CONTACT ME</h4>
          <form action="" method="get" class="footer-form">
            <div>
              <input id="name"
                     name="name"
                     type="text"
                     placeholder="Name"
                     />
            </div>
            <div>

              <input id="email"
                     name="email"
                     type="email"
                     placeholder="Email"
                     />
            </div>
            <div>

              <input id="subject"
                     name="subject"
                     type="text"
                     placeholder="Subject"
                     />
            </div>
            <div>

              <textarea id="message"
                     name="message"
                     placeholder="Your message"
                     /></textarea>
            </div>
            <div>
              <button class="button">Submit</button>
            </div>




          </form>
        </aside>
